---
import Layout from "../layouts/Layout.astro";
import FormHolder from "../components/FormUrl";
import AlertBox from "../components/Notification";
---

<Layout title="Phishing Url Detector">
	<main class="grid place-items-center h-screen w-screen">
		<div class="h-3/5 inline-block align-top place-items-center">
			<h1 class="font-sans text-slate-300 p">Phishing Link Detector</h1>
			<p class="mb-3 font-light text-gray-500 dark:text-gray-400">
				Works about 80% of the time ᓚᘏᗢ
			</p>

			<FormHolder client:load>
				<label
					for="default-search"
					class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white"
					>Search</label
				>
				<div class="relative">
					<input
						type="search"
						id="url"
						class="block w-full p-4 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
						placeholder="Input Link..."
						required
					/>
					<button
						type="submit"
						id="checkURL"
						class="text-white absolute right-2.5 bottom-2.5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
						>Check</button
					>
				</div>
			</FormHolder>

			<AlertBox client:load />
		</div>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
</style>
